<div style="padding:0;margin:0 auto;width:100%!important;
font-family:Helvetica,Arial,sans-serif">
    <table style="background-color:#edf0f3;table-layout:fixed" align="center" cellspacing="0" cellpadding="0" width="100%" border="0" bgcolor="#EDF0F3">
        <tbody> 
            <tr>
                <td align="center" style="font-weight: bold;font-size: 20px;background-color:#28c2ec;padding:12px;border-bottom:1px solid #ececec">
                    Hi {{ username }}
                </td>
            </tr>
            <tr align="center">
                <td style="padding:12px;background: #F6F8FA">You recently requested to reset your password for your account on Authors Haven.<br/>
                    Please use the button below to reset to it<br/><br/><br/>
                    <a href="{{callbackurl}}?token={{token}}" style="background:#2876ec;color:#edf0f3;text-decoration: none;padding: 10px;border-radius:  6px;">Reset Password</a>
                    <br/><br/><br/>
                    If you didn't request a password reset, please ignore this email or contact support at haven.authors@gmail.com
                </td>
            </tr>
            <tr align="center" style="font-weight:500;font-size:13px;text-align: center;">
                    <td style="padding:15px;">
                    </td>
                </tr>
                <tr align="center" style="font-size:13px;text-align: center;">
                    <td style="padding-top:20px;border-top:2px solid gray;padding:10px 0">
                        &copy; {{ copyright_year }} Authors Haven All rights reserved
                    </td>
                </tr>
        </tbody>
    </table>
</div>