<div style="padding:0;margin:0 auto;width:100%!important;
font-family:Helvetica,Arial,sans-serif">
    <table style="background-color:#edf0f3;table-layout:fixed" align="center" cellspacing="0" cellpadding="0" width="100%" border="0"
        bgcolor="#EDF0F3">
        <tbody>
            <tr>
                <td align="center" style="font-weight: bold;font-size: 20px;background-color:#28c2ec;padding:12px;border-bottom:1px solid #ececec">
                    Hi {{ username }}
                </td>
            </tr>
            <tr align="center">
                <td style="padding:12px;background: #F6F8FA">
                    <div>
                        <p>You have signed up for an account on Authors Haven.
                            <br/> Please use the link below to finish signup.
                        </p>
                        <br/>
                        <a href="{{ domain }}/api/activate/{{ token }}" style="background:#2876ec;color:#edf0f3;text-decoration: none;padding: 10px;border-radius:  6px;">Click here to verify email</a>
                        <br/>
                        <br/>
                        <p>OR
                            <br/>
                            <br/>Copy and paste this link in your browser
                            <br/>
                            <br/>
                            <a style="color:#2876ec;"> {{ domain }}/api/activate/{{ token }}</a>
                        </p>
                        <p>
                            <strong>Kindly ignore this email if you did not create the account.</strong>
                        </p>
                        <br/>
                    </div>
                </td>
            </tr>
            <tr align="center" style="font-weight:500;font-size:13px;text-align: center;">
                <td style="padding:15px;">
                    This message was automatically sent to your email upon registering at Authors Haven.
                </td>
            </tr>
            <tr align="center" style="font-size:13px;text-align: center;">
                <td style="padding-top:20px;border-top:2px solid gray;padding:10px 0">
                    &copy; {{ copyright_year }} Authors Haven All rights reserved
                </td>
            </tr>
        </tbody>
    </table>
</div>
